@charset "utf-8";

/*reset start*/ 

html, body, h1, h2, h3, h4, h5, h6, div, dl, dt, dd, ul, ol, li, p, blockquote, pre, hr, figure, table, caption, th, td, form, fieldset, legend, input, button, textarea, menu {
  margin: 0;
  padding: 0;
}
html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6 {
  -webkit-text-size-adjust: none
}

html {
  font-size: 15.625vw;
  color: #333;
  background: #fff;
}
body {
  font-family: "微软雅黑", arial, sans-serif;
  font-size: 0.24rem;
}
header, footer, section, article, aside, nav, hgroup, address, figure, figcaption, menu, details {
  display: block;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption, th {
  text-align: left;
  font-weight: normal;
}
html, body, fieldset, img, iframe, abbr {
  border: 0;
}
i, cite, em, var, address, dfn {
  font-style: normal;
}
[hidefocus], summary {
  outline: 0;
}
img {
  display: block;
  width: 100%;
}
li {
  list-style: none;
}
h1, h2, h3, h4, h5, h6, small {
  font-size: 100%;
  font-style: normal;
  font-weight: normal;
}
sup, sub {
  font-size: 83%;
}
pre, code, kbd, samp {
  font-family: inherit;
}
q:before, q:after {
  content: none;
}
textarea {
  overflow: auto;
  resize: none;
}
label, summary {
  cursor: default;
}
a, button {
  cursor: pointer;
  color: #333;
}
del, ins, u, s, a, a:hover {
  text-decoration: none;
}
body, textarea, input, button, select, keygen, legend {
  color: #333;
  outline: 0;
}
body * {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0)
}
.clearfix:after {
  content: ".";
  display: block;
  overflow: hidden;
  height: 0;
  clear: both;
  visibility: hidden;
}
* html .clearfix {
  height: 1%;
}
input, textarea, select {
  outline: none;
  -webkit-appearance: none;
}
input {
  background: none;
  border: none;
  box-shadow: none;
  color: #333;
  width: 100%;
}
.clearOver {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*自制弹窗样式*/

.mark {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 0.88rem;
  line-height: 0.88rem;
  width: 80%;
  text-align: center;
  font-size: 0.28rem;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 0.1rem;
}

/*自制confirm样式*/

.cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.3);
  z-index: 999;
}
.cover .confirmbox {
  background: #fff;
  width: 5.02rem;
  height: 2.36rem;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border-radius: 0.1rem;
}
.cover .confirmbox .line1 {
  line-height: 1.47rem;
  text-align: center;
  font-size: 0.32rem;
  border-bottom: #dfdfdf solid 1px;
}
.cover .confirmbox .line2 {
  line-height: 0.88rem;
  display: flex;
  justify-content: space-around;
  font-size: 0.32rem;
}
.cover .confirmbox .line2 span {
  display: block;
  width: 50%;
  text-align: center;
}
.cover .confirmbox .line2 .sure {
  color: #D2AA72;
  border-left: #dfdfdf solid 1px;
}

/*头部标题栏*/

.header.white {
  background: #fff;
  color: #333;
  border-bottom: #dfdfdf solid 1px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #D1A971;
  color: #fff;
  font-size: 0.34rem;
  padding: 0 0.3rem;
  height: 0.88rem;
  position: fixed;
  z-index: 999;
  top: 0;
  width: calc(100% - 0.6rem);
}
.header .back {
  width: 0.2rem;
}
.header .title {
  /*width: calc(100% - 1.02rem);*/
  text-align: center;
  padding-left: 0.4rem;
}
.header .more {
  width: 0.34rem;
  font-size: 0.28rem;
  text-align: right;
}
.header .more.txt {
  width: 0.56rem;
}
.headd_hg {
  height: 0.88rem;
}

/*10像素灰条*/

.bgline {
  height: 0.1rem;
  background: #f5f5f5;
}

/*无数据占位图*/

.nodata {
  margin: 3.38rem auto;
  text-align: center;
}
.nodata img {
  width: 1.7rem;
  display: inline-block;
}
.nodata p {
  text-align: center;
  font-size: 0.28rem;
  color: #666;
  margin-top: 0.14rem;
}

/*底部菜单*/

.he {
  height: 1.16rem;
}
.botmenu {
  background: #000;
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 1.16rem;
  z-index: 99999;
  display: flex;
  justify-content: space-around;
}
.botmenu a {
  color: #848282;
}
.botmenu a.bmenu {
  width: 24%;
  display: inline-block;
  text-align: center;
  font-size: 0.24rem;
  padding-top: 0.72rem;
  padding-bottom: 0.1rem;
}
.botmenu a.active, .botmenu a:hover {
  color: #fff;
  text-decoration: none;
}
.botmenu a.bmenu.home {
  background: url(../images/u01-0.png) no-repeat 49% 0.1rem;
  background-size: 0.55rem;
}
.botmenu a.bmenu.zqh {
  background: url(../images/u02-0.png) no-repeat 49% 0.1rem;
  background-size: 0.55rem;
}
.botmenu a.bmenu.th {
  background: url(../images/u03-0.png) no-repeat 49% 0.1rem;
  background-size: 0.55rem;
}
.botmenu a.bmenu.my {
  background: url(../images/u04-0.png) no-repeat 49% 0.1rem;
  background-size: 0.55rem;
}
.botmenu a.bmenu.home.active, .botmenu a.bmenu.home:hover {
  background: url(../images/u01-1.png) no-repeat 49% 0.1rem;
  background-size: 0.55rem;
}
.botmenu a.bmenu.zqh.active, .botmenu a.bmenu.zqh:hover {
  background: url(../images/u02-1.png) no-repeat 49% 0.1rem;
  background-size: 0.55rem;
}
.botmenu a.bmenu.th.active, .botmenu a.bmenu.th:hover {
  background: url(../images/u03-1.png) no-repeat 49% 0.1rem;
  background-size: 0.55rem;
}
.botmenu a.bmenu.my.active, .botmenu a.bmenu.my:hover {
  background: url(../images/u04-1.png) no-repeat 49% 0.1rem;
  background-size: 0.55rem;
}

/*botmenu end*/

/*右下角菜单*/
.tmenu {
	position: fixed;
	bottom: 0.24rem;
	right: 0.24rem;
  opacity: 0.8;
}
.tmenu .item1 {
	width: 1.12rem;
	display: block;
	margin-top: 0.12rem;
}
/*轮播图*/
#banner {
	height: 3.8rem;
}
.swiper-pagination-bullet-active {
	background: #333;
}
